@import "../styles/colors.scss";

.header {
  background-color: #fff;
  height: 190px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  .downRoadBtn {
    width: 275px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid $pink;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 2.6em;
      color: $pink;
    }
  }
}
