@import "../styles/colors.scss";

.questionList {
  color: $fontMain;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 160px;
  .questionItem {
    border-radius: 4px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0px 4px 0px 0px #e6ebef;
    padding: 30px 50px;
    display: flex;
    gap: 3%;
    align-items: center;
    .questionIcon {
      width: 40px;
      height: 40px;
      background-image: url(../../../public/img/question_icon.png);
      background-size: cover;
    }
    h3 {
      position: relative;
      font-size: 2em;
      display: block;
      // ::before {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   content: url("/img/question_icon.png");
      //   width: 40px;
      //   height: 40px;
      // }
    }
  }
}
