@import "../styles/colors.scss";

.videoContainer {
  width: 100vw;
  height: 500px;
  background: linear-gradient(180deg, #f3b5ca 0%, #fae0e9 100%);
  p {
    text-align: center;
    padding: 250px 0;
    font-size: 3em;
    color: #fff;
    font-weight: bold;
  }
}
